<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MOH: Heroes - Team Scoreboard</title>
        <style th:utext="${styles}"></style>
        
        <!-- included the CSS like this, if this doesn't work just remove and your old method should work -->
        <link rel="stylesheet" href="../static/styles.css"/>

        <!-- if these fonts don't work just let me know and we can change them -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=EB+Garamond:ital,wght@0,400..800;1,400..800&amp;display=swap" rel="stylesheet"/>
    </head>

    <!-- Set the class here to correspond to the background image -->
    <body th:style="'background-image: url(' + ${backgroundImageDataUrl} + ');'">
        <div class="wrap">
            <div class="game-details">
                <h1 th:text="${mapName}"></h1>
                <h3 class="date" th:text="${gameStartTime} + ' - ' + ${gameDuration} + ' min'"></h3>

                <div class="game-name-with-icons">
                    <h3 class="game" th:text="${gameName}"></h3>

                    <div th:if="${ranked} == '1'" class="icon">
                        <img th:src="${rankedImageDataUrl}" alt="Ranked Logo"/>
                    </div>

                    <div th:if="${friendlyFireMode == '1' or friendlyFireMode == '2'}" class="icon">
                        <img th:src="${friendlyFireImageDataUrl}" alt="Friendly Fire Logo"/>
                    </div>

                    <div th:if="${aimAssist} == '1'" class="icon">
                        <img th:src="${aimAssistImageDataUrl}" alt="Aim Assist Logo"/>
                    </div>
                </div>
            </div>

            <div class="scoreboard teams">
                <table class="allies">
                    <thead>
                        <th>Allies</th>
                        <th>Score</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                    </thead>
                    <tbody>
                        <!-- player rows -->
                        <tr>
                            <td><strong>Player Name</strong></td>
                            <td>10</td>
                            <td>20</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><strong>Player Name</strong></td>
                            <td>10</td>
                            <td>20</td>
                            <td>10</td>
                        </tr>

                        <!-- blank rows -->
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <td>20</td>
                            <td>40</td>
                            <td>20</td>
                        </tr>
                    </tfoot>
                </table>

                <table class="axis">
                    <thead>
                        <th>Axis</th>
                        <th>Score</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                    </thead>
                    <tbody>
                        <!-- player rows -->
                        <tr>
                            <td><strong>Player Name</strong></td>
                            <td>10</td>
                            <td>20</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><strong>Player Name</strong></td>
                            <td>10</td>
                            <td>20</td>
                            <td>10</td>
                        </tr>

                        <!-- blank rows -->
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                        <tr><td colspan="4"></td></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <td>20</td>
                            <td>40</td>
                            <td>20</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="game-result">
                <div class="result draw">
                    <p>Draw Battle</p>
                </div>

                <!-- <div class="result axis">
                    <p>Axis Win</p>
                </div>

                <div class="result allies">
                    <p>Allies Win</p>
                </div> -->
            </div>
        </div>
    </body>
</html>